body {
	border-top:#00aeef 9px solid;
	font-family:"Trebuchet MS", "Helvetica", "Arial", sans-serif;
}
a {
	transition: all .5s linear;
   -o-transition: all .5s linear;
   -moz-transition: all .5s linear;
   -webkit-transition: all .5s linear;
}
#container {
	margin:auto;
	width:1040px;
}
#top {
	position:relative;
	height:150px;
}
.logo {
	margin:40px 0 0 30px;
} 
#login {
	position:absolute;
	right:30px;
	top:-10px;
	margin:0;
	padding:0;
	list-style:none;
}
.rounded-b-right {
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
}
.rounded-b-left {
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
}
#login li {
	float:left;
	background:#000;
	padding:10px 0 10px 10px;
}
#login li:last-child {
	padding-right:10px;
}
#login li:first-child a {
	border:none;
	padding-left:0;
}
#login li a {
	color:#fff;
	background:#000;
	text-decoration:none;
	font-weight:bold;
	border-left:#fff 1px solid;
	padding-left:10px;
}
#login li a:hover,
#login li a:focus {
	color:#ff00ae;
}
#menu {
	position:absolute;
	right:0;
	bottom:0;
	list-style:none;
	font-size:16px;
}
#menu li {
	float:left;
	margin:0 10px 0 0;
}
#menu li a {
	color:#000;
	display:block;
	border-bottom:4px solid;
	text-decoration:none;
	padding:0 20px;
}
#menu li.current a {
	color:#00aeef;
}
#menu li a:hover {
	border-bottom-color:#ff00ae;
}
.main-content {
	width:740px;
	float:left;
}
.sidebar {
	width:300px;
	float:left;
	position:relative;
}
.listing.preview {
	width:350px;
	padding:0 10px 30px;
	float:left;
	font-size:12px;
}
.listing.preview h1 {
	font-size:14px;
	margin:0 0 10px 0;
}
.listing.preview img {
	float:left;
	margin:0 10px 0 0;
	height:95px;
}
.listing.preview p {
	margin:0;
}
.refine-result ul {
	list-style:none;
	padding:0 0 0 0;
	margin:0;
}
.refine-result ul li {
	margin-bottom:10px;
	margin-right:10px;
	width:135px;
	float:left;
}
.refine-result ul li.range {
	width:290px;
}
.refine-result ul li.range input {
	width:100%;
}
.related {
	position:absolute;
	width:290px;
   transition: all .3s linear;
   -o-transition: all .3s linear;
   -moz-transition: all .3s linear;
   -webkit-transition: all .3s linear;
}