<!-- <h1>{{title}}</h1> -->

<div class="col thin">
    <h2>Latest pod</h2>
    {{#latest}}
        <img class="latest" src="{{mainImage}}" alt="" />
    {{/latest}}
</div>
<div class="col wide">
    <div class="popular">
        <h2>Popular podz</h2>
        <ul>
            {{#results}}
                <li class="listing-{{id}}">
                    <img class="popular" src="{{mainImage}}" alt="{{title}}" title="{{title}}" />
                </li>
            {{/results}}
        </ul>
    </div>
</div>
<div class="col thin">
    <h2>Recent Activity</h2>
</div>
<div class="clear"></div>
