<!-- <h1>{{title}}</h1> -->
<div class="col">
    <h2>Latest podz</h2>
</div>
<div class="col">
    <h2>Popular podz</h2>
</div>
<div class="col">
    <h2>Recent Activity</h2>
</div>
<p>
  <a href="/auth/twitter">Log In With Twitter</a>
</p>
<p>
  <a href="/listing/new">Add a new Listing</a>
</p>
