<!DOCTYPE html> 
<html> 
<head>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
<title>Open Desk Network</title> 
</head> 
<body> 
{{{yield}}}
</body> 
</html> 