<h1>Login to SharePodz</h1>
<p>Choose your favorite social network from the list bellow:</p>
<ul class="login-options">
    <li><a href="/auth/twitter"><img src="/images/layout/logo_twitter.png" width="242" height="45" alt="Twitter"></a></li>
    <li><a href="/auth/facebook"><img src="/images/layout/logo_facebook.png" width="133" height="45" alt="Facbook"></a></li>
</ul>