<form action="/listing/create" method="post">
	The Name of Your Space: <input type="text" name="name"><br>
	A Brief Description of Your Space (Used for searching): <input type="text" name="description"><br>
	Fill In Some More Details About Your Space: <input type="text" name="about"><br>
	City: <input type="text" name="city"><br>
	Province: <input type="text" name="province"><br>
	Address 1: <input type="text" name="address1"><br>
	Address 2: <input type="text" name="address2"><br>
	Postal Code: <input type="text" name="postalCode"><br>
	Phone Number: <input type="phone" name="phone"><br>
	Website: <input type="text" name="website"><br>
	Twitter: <input type="text" name="twitter"><br>
	Contact Email: <input type="email" name="email"><br>
	Availability Start Date: <input type="date" name="startDate"><br>
    Availability End Date: <input type="date" name="endDate"><br>
    Price: <input type="text" name="price"><br />
	Tags: <input type="text" name="tags"><br>
	
	<input type="submit" value="Create">
</form>