<form action="/listing/create" method="post">
<table class="create-listing-table">
	<tr>
		<th>Name: <img src="/images/layout/info.png" title="The Name of Your Space" /></th> 
		<td><input type="text" name="name"></td>
	</tr>
	<tr>
		<th>Description: <img src="/images/layout/info.png" title="A Brief Description of Your Space (Used for searching)" /></th>
		<td> <input type="text" name="tagline"></td>
	</tr>
	<tr>
		<th>Details: <img src="/images/layout/info.png" title="Fill In Some More Details About Your Space"/></th>
		<td> <input type="textarea" name="description"></td>
	</tr>
		<th>City:</th>
		<td><input type="text" name="city"></td>
	<tr>
	</tr>
		<th>Province:</th>
		<td><input type="text" name="province"></td>
	</tr>
	<tr>
		<th>Address 1:</th>
		<td> <input type="text" name="address1"></td>
	</tr>
	<tr>
		<th>Address 2:</th>
		<td> <input type="text" name="address2"></td>
	</tr>
	<tr>
		<th>Postal Code:</th>
		<td> <input type="text" name="postalCode"></td>
	</tr>
	<tr>
		<th>Phone Number:</th>
		<td> <input type="phone" name="phone"></td>
	</tr>
	<tr>
		<th>Website:</th>
		<td> <input type="text" name="website"></td>
	</tr>
	<tr>
		<th>Twitter:</th>
		<td> <input type="text" name="twitter"></td>
	</tr>
	<tr>
		<th>Contact Email:</th>
		<td> <input type="email" name="email"></td>
	</tr>
	<tr>
		<th>Availability Start Date:</th>
		<td> <input type="date" name="startDate"></td>
	</tr>
	<tr>
	 	<th>Availability End Date:</th>
		<td> <input type="date" name="endDate"></td>
	</tr>
	<tr>
		<th>Tags:</th>
		<td> <input type="text" name="tags"></td>
	</tr>
</table>	
	<input type="submit" value="Create">
</form>
