	<div id="search">
        <div class="search">
            <div class="input text search">
                <label for="">City, Address...</label>
                <input class="box rounded5" type="text" value="{{defaultLocation}}" />
            </div>
            <div class="map" data-query="{{defaultLocation}}"></div>
            <a href="#" id="search_results_link">View results</a>
        </div>
        <div class="filtering">
            {{>search_refine_result}}
            <div class="input submit">
                <input type="submit" value="Search"></input>
            </div>
        </div>
        <div id="map_links" style="display:none"></div>
	</div>
    <script type="text/javascript">
        $(document).ready(function() {
            var $map = $('div.map').gvmap();
            $map.auto();
            $('#search div.filtering input[type="submit"]').click(function() {
                $.post('/listing/search', {loc:$('#search div.search input').val()}, function(data, textStatus) {
                    $map.latLng(data.center.lat, data.center.lng);
                    var lnks = $('#map_links').empty();
                    for (var i = 0; i < data.listings.length; i++) {
                        var loc = data.listings[i];
                        lnks.append('<a href="#" data-query="' +  + '" data-placeholder="' + loc.name + '">' + loc.name + '</a>');
                    }
                    $map.links('#map_links a');
                });
            });
            $('#search_results_link').click(function(e) {
                e.preventDefault();
                window.parent.location = '/listing/results?loc=' + $('#search div.search input').val();
            });
            $('div.map').gvmap().auto();
        });
    </script>
    <script src="/js/search.js" type="text/javascript"></script>
