{{#listing}}
<h1>{{title}}</h1>
<p>Description: {{description}}</p>
<p>City: {{city}}</p>
<p>Province: {{provinces}}</p>
<p>Address 1: {{address1}}</p>
<p>Address 2: {{address2}}</p>
<p>Postal Code: {{postalCode}}</p>
<p>Website: <a href="{{website}}">{{website}}</a></p>
<p>Twitter: <a href="http://twitter.com/{{twitter}}">@{{twitter}}</a></p>
<p>Email: {{email}}</p>
{{/listing}}
