{{#listing}}
<div class="page">
	<div class="left">
		<p><a href="#" class="button">Contact host</a></p>
		
		<div class="description">
			<h2>{{name}}</h2>
			<small>{{address1}} {{city}}, {{province}}</small>
		</div>
		
		<div class="details">
			<h3>Contact</h3>
			<p><small>
			Website: <a href="{{website}}">{{website}}</a><br />
			Twitter: <a href="http://twitter.com/{{twitter}}">{{twitter}}</a><br />
			Email: <a href="mailto:{{email}}">{{email}}</a>
			</small></p>
			
			<h3>Availability</h3>
			<p>Start: {{startDate}}<br />
			End: {{endDate}}</p>
			
			<h3>Pricing</h3>
			<p>{{price}}</p>
			
			<h3>Vibe</h3>
			<p>Collaborative startup</p>
			
			<h3>About</h3>
			<p>{{tagline}}</p>
		</div>
				
		<div class="map" data-longitude="{{lng}}" data-latitude="{{lat}}" data-zoom="14" data-control="large" data-type="map" data-placeholder="{{name}}"></div>
	</div>
	
	<div class="right">
		<div id="gallery">
	        {{#images}}
	        	<img src="{{.}}" width="610" height="420" />
	        {{/images}}
		</div>

		<div>
			<div class='description-box'>
				<h3>Description</h3>
				<p>{{description}}</p>
			</div>
			<div class='seeking-box'>
				<p>We'd like to host:</p>
					<ul>
						<li>Writers</li>
					<li>Entrepreneurs</li>
					<li>Designers</li>
					<li>Marketing/PR</li>
					<li>Architects</li>
				</ul>
			</div>
			<div class="clearfix" />
		</div>	
		<h3>Amenities</h3>
		<ul class="tags">
			{{#amenities}}
				<li>{{.}}</li>
			{{/amenities}}
		</ul>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$('.map').gvmap().auto();
	        Galleria.loadTheme('/scripts/galleria/themes/classic/galleria.classic.min.js');
	        $("#gallery").galleria({
	            width: 640,
	            height: 480,
		    thumbCrop: 'height',
	        });
		});
	
	
	</script>
	
	
	{{/listing}}
</div>
